/*
 * Skin: Red
 * ---------
 */
.skin-red .main-header .navbar {
background: rgba(44,121,222,1);
background: -moz-linear-gradient(left, rgba(44,121,222,1) 0%, rgba(40,109,198,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(44,121,222,1)), color-stop(100%, rgba(40,109,198,1)));
background: -webkit-linear-gradient(left, rgba(44,121,222,1) 0%, rgba(40,109,198,1) 100%);
background: -o-linear-gradient(left, rgba(44,121,222,1) 0%, rgba(40,109,198,1) 100%);
background: -ms-linear-gradient(left, rgba(44,121,222,1) 0%, rgba(40,109,198,1) 100%);
background: linear-gradient(to right, rgba(44,121,222,1) 0%, rgba(40,109,198,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c79de', endColorstr='#286dc6', GradientType=1 );
}
.skin-red .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-red .main-header .navbar .nav > li > a:hover,
.skin-red .main-header .navbar .nav > li > a:active,
.skin-red .main-header .navbar .nav > li > a:focus,
.skin-red .main-header .navbar .nav .open > a,
.skin-red .main-header .navbar .nav .open > a:hover,
.skin-red .main-header .navbar .nav .open > a:focus {
  background: none;
  color: #fff;
}
.skin-red .main-header .navbar .navbar-custom-menu > .nav {
  margin-right: 10px;
}
.skin-red .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-red .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
}
.skin-red .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-red .main-header .navbar .sidebar-toggle:hover {
  background-color: rgba(44,121,222,1);
}
@media (max-width: 767px) {
  .skin-red .main-header .navbar .dropdown-menu li.divider {
  }
  .skin-red .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-red .main-header .navbar .dropdown-menu li a:hover {
    background: rgba(44,121,222,1);
  }
}
.skin-red .main-header .logo {
  background-color: #FD2E79;
  color: #ffffff;
}
.skin-red .main-header .logo > a {
  color: #ffffff;
}
.skin-red .main-header .logo:hover {
}
.skin-red .main-header li.user-header {
  background-color: #dd4b39;
}
.skin-red .content-header {
  background: transparent;
}
.skin-red .user-panel > .info,
.skin-red .user-panel > .info > a {
  color: #fff;
}
.skin-red .sidebar-menu > li.header {
  color: #444;
  background: #ECF0F5;
}
.skin-red .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  margin-right: 1px;
}
.skin-red .sidebar-menu > li > a:hover{
 color: #444;
  background: #fff;
  border-left-color: rgba(44,121,222,1);
}
.skin-red .sidebar-menu > li.active > a {
  color: #fff;
background: rgba(44,121,222,1);
background: -moz-linear-gradient(left, rgba(44,121,222,1) 0%, rgba(40,109,198,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(44,121,222,1)), color-stop(100%, rgba(40,109,198,1)));
background: -webkit-linear-gradient(left, rgba(44,121,222,1) 0%, rgba(40,109,198,1) 100%);
background: -o-linear-gradient(left, rgba(44,121,222,1) 0%, rgba(40,109,198,1) 100%);
background: -ms-linear-gradient(left, rgba(44,121,222,1) 0%, rgba(40,109,198,1) 100%);
background: linear-gradient(to right, rgba(44,121,222,1) 0%, rgba(40,109,198,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c79de', endColorstr='#286dc6', GradientType=1 );
  border-left-color: rgba(44,121,222,1);

}
.skin-red .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.skin-red .wrapper,
.skin-red .main-sidebar,
.skin-red .left-side {
  background: #fff;
  border-right:1px solid #d0d0d0;
}
.skin-red .sidebar a {
  color: #666;
}
.skin-red .sidebar a:hover {
  text-decoration: none;
}
.skin-red .treeview-menu > li > a {
  color: #8aa4af;
}
.skin-red .treeview-menu > li.active > a,
.skin-red .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-red .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-red .sidebar-form input[type="text"],
.skin-red .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
  -o-transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
  transition: all 0.3s cubic-bezier(0.32, 1.25, 0.375, 1.15);
}
.skin-red .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-red .sidebar-form input[type="text"]:focus,
.skin-red .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-red .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-red .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
}
